* {
    padding: 0;
    margin: 0;
}
.nav-wrapper {
    padding: 20px;
}
.login-section {
    display: flex;
    justify-content: flex-end;
}
.logo-section {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    font-size: 30px;
}
.nav-section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.menu-list {
    display: flex;
    list-style: none;
    gap: 10px;
}
.search-box {
    position: absolute;
    top: 0;
    right: 0;
}
